body {
    margin: 0;
}

#board {
    background: url("images/board-bg.png");
    background-size: cover;
    height: 100vh;
}

#status-bar {
    height: 10vw;
    background: url("images/state-panel-bg.png");
    background-size: cover;
}

#map {
    margin-left:auto;
    margin-right:auto;
    margin-top: 3vh;
    width: 60vh;
    height: 60vh;
}

.cell {
    border: solid 1px rgb(103, 101, 168);
    background-color: rgba(103, 101, 168, 0.4);
}
